# mchp-dm-verity bundles the initramfs into the kernel image resulting in an
# overall size of ~23M. bootm has to memmove that node from the FIT buffer down
# to CONFIG_SYS_LOAD_ADDR and decompress guards the copy with
# CONFIG_SYS_BOOTM_LEN. If its not set in the defconfig it falls back to 8M
# (0x800000) by default.

# This end up in "Image too large: increase CONFIG_SYS_BOOTM_LEN". fix this by
# defining a safest value 32M (0x2000000)

CONFIG_SYS_BOOTM_LEN=0x2000000
